<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="../models/car.js"></script>
        <script src="../models/wheel.js"></script>
        <script src="../controllers/controller.js"></script>
         <!--BOOTSTRAP THEME-->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <style>
            p{
                color:red;
                margin: 2rem;
                font-weight: bold;
                text-transform: uppercase;
            }
            #create-wheel-form{
                display: none;
            }
        </style>
        </head>
        <body>
            <div class="container">
                <!--APP-->
                <div id="create-car-form" class="row pt-5">
                    <div >
                        <div class="card">
                            <div class="header text-center">
                                <h4 class="display-4">Crea tu coche</h4>
                            </div>
                            <form action="" class="card-body d-flex flex-column align-content-center" id="product-form">
                                <div class="form-group">
                                    <input type="text" id="brand"  placeholder="Inserta Marca" class="form-control text-center">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="plate" name="plate" placeholder="Inserta Matricula" class="form-control text-center">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="color" class="form-control text-center" name="color" placeholder="Inserta Color">
                                </div>
                                <div class="col-12">
                                    <input  type="button" value="Crear" class="btn btn-primary btn-block " onclick="createCar()">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-8" id="product-list"></div>
                </div>
            </div>
            <div class="container" >
                <div class="pt-4">
                    <div class="col-12 " id="create-wheel-form">
                        <div class="card d-flex">
                            <div class="header text-center">
                                <h4 class="display-4">Crea tus ruedas</h4>
                            </div>
                            <form action="" class="card-body col-12 flex-wrap d-flex" id="product-form">
                                <div class="form-group col-6">
                                    <input type="text" id="brand1" placeholder="Inserta Rueda 1" class="form-control">
                                </div>
                                <div class="form-group col-6">
                                    <input type="number" id="diameter1" placeholder="Inserta Diametro 1" class="form-control" step="0.01">
                                </div>
                                <div class="form-group col-6">
                                    <input type="text" id="brand2" placeholder="Inserta Rueda 2" class="form-control">
                                </div>
                                <div class="form-group col-6">
                                    <input type="number" id="diameter2" placeholder="Inserta Diametro 2" class="form-control" step="0.01">
                                </div>
                                <div class="form-group col-6">
                                    <input type="text" id="brand3" placeholder="Inserta Rueda 3" class="form-control">
                                </div>
                                <div class="form-group col-6">
                                    <input type="number" id="diameter3" placeholder="Inserta Diametro 3" class="form-control" step="0.01">
                                </div>
                                <div class="form-group col-6">
                                    <input type="text" id="brand4" placeholder="Inserta Rueda 4" class="form-control">
                                </div>
                                <div class="form-group col-6">
                                    <input type="number" id="diameter4" placeholder="Inserta Diametro 4" class="form-control" step="0.01">
                                </div>
                                <div class="col-12">
                                    <input  type="button" value="Crear" class="btn btn-primary btn-block" onclick="createWheel()">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-8" id="product-list"></div>
                </div>
            </div>
            </div>
            <div class="container">
                <h1 class="display-4 bg-info w-100 text-left" id="infocar"></h1>
                <h2 class="display-4 bg-info w-100 text-left" id="infocar1">
                    
                </h2>
            </div>
            <div class="container">
                <h1 class="display-4 bg-success w-100 text-left" id="infowheel">
                </h1>
                <h2 id="infowheel1" class="text-left bg-success display-4 w-100"></h2>
                <h2 id="infowheel2" class="text-left bg-success display-4 w-100"></h2>
                <h2 id="infowheel3" class="text-left bg-success display-4 w-100"></h2>
                <h2 id="infowheel4" class="text-left bg-success display-4 w-100"></h2>
                
            </div>
        </body>
</html>        